/asm
/backups
/crash-reports
/downloads
/enderio
/logs
/mods
/resourcepacks
/saves
/scripts
/server-resource-packs
/shaderpacks
/config/JEI/worldSettings.cfg
.curseclient
BotaniaVars.dat
OpenComputersMod-*
user*
minecraftinstance.json
minetweaker.log
options*.txt
